<nav class="navbar navbar-expand-md navbar-toggleable-md navbar-dark border-bottom box-shadow mb-3">
	<div class="container-fluid">
		<a class="navbar-brand text-light" asp-controller="Cards" asp-action="Sets" asp-route-page="1">FlashCards</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
			<ul class="navbar-nav flex-grow-1">
				<li class="nav-item nav-text">
					<a class="nav-link text-light " asp-controller="Cards" asp-action="Sets" asp-route-page="1">All
						sets</a>
				</li>
				@if (User.Identity.IsAuthenticated && User.FindFirst("Nickname") != null)
				{
					<li class="nav-item nav-text">
						<a class="nav-link text-light" asp-controller="Cards" asp-action="Sets" asp-route-page="1"
						asp-route-author="@(User.FindFirst("Nickname").Value)">
							My sets
						</a>
					</li>
				}
				@await Component.InvokeAsync("NavCategories")
				<li class="nav-item nav-text mb-2 mb-md-0">
					<a class="nav-link text-info" asp-controller="Cards" asp-action="CreateSet">Create a set</a>
				</li>
			</ul>
			<partial name="_LoginPartial" />
		</div>
	</div>
</nav>