@model List<QuestionWithAnswerViewModel>
@foreach (var item in Model)
{
	<div class="set-qa-preview py-3 mx-2 ">
		<div class="q-preview">@item.Question</div>
		<div class="a-preview">@item.Answer</div>
	</div>
}