<form method="get" asp-controller="Cards" asp-action="Sets" asp-route-page="1" class="d-flex search-form" role="search">
	<input class="form-control me-2" name="name" type="search" placeholder="Search" aria-label="Search">
</form>