@model ErrorViewModel
@{
    ViewData["Title"] = @Model.ErrorStatus;
}

<div class="row m-0 p-0">
    <div class="col-12">
		<div class="container-fluid cat-sub-title rounded text-dark p-3">
			<div class="container py-3 px-5">
				<p class="lead">@Model.ErrorStatus</p>
				<p class="display-6"><strong>@Model.ErrorMessage</strong></p>
				<a class="btn btn-info mt-2" asp-controller="Cards" asp-action="Sets" asp-route-page="1">Browse sets</a>
			</div>
		</div>
	</div>
</div>
